<div class="ui people shape">
<div class="sides">
  <div class="side">
    <div class="ui card">
      <div class="image">
        <%= image_tag("fall-down.gif") %>
      </div>
      <div class="content">
        <div class="header">Fall Down</div>
        <div class="meta">
          <span class="right floated">
            <a href="https://github.com/matt-stj/fall-down-js" ><i class="github icon large link"></i></a>
          </span>
          <span>
            <a href="http://matt-stj.github.io/fall-down-js/" ><i class="world icon large link"></i>Live App</a>
          </span>
        </div>
        <div class="description">
          A JavaScript rendition of the TI-83 calculator game 'Falldown' with added powerup features.<br><br>
          Built on an HTML5 canvas, with collision detection, score tracking, and an increasing level of difficultly.
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="circular inverted  grey tiny code icon"></i>
          Node.js + Webpack + HTML5 Canvas
        </span>
      </div>
    </div>
  </div>
  <div class="side">
    <div class="ui card">
      <div class="image">
        <%= image_tag("crowdsourcer.png") %>
      </div>
      <div class="content">
        <div class="header">CrowdSourcer</div>
        <div class="meta">
          <span class="right floated">
            <a href="https://github.com/matt-stj/crowdsourcer" ><i class="github icon large link"></i></a>
          </span>
          <span>
            <a href="https://crowd-sourcer-matt-stj.herokuapp.com/" ><i class="world icon large link"></i>Live App</a>
          </span>
        </div>
        <div class="description">
          CrowdSourcer is a real-time web application for creating live-updating surveys.
          Using web-sockets, you can view the results of your survey as they come in.
          <br><br>
          Built with Material design and a Mocha test suite.
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="circular inverted  grey tiny code icon"></i>
          Node.js + Express.js + Socket.io
        </span>
      </div>
    </div>
  </div>
</div>
</div>

<%= render "partials/panels/projects/more_button" %>
