<div class="ui people shape">
<div class="sides">
  <div class="side">
    <div class="ui card">
      <div class="image">
        <%= image_tag("snow-alert.png") %>
      </div>
      <div class="content">
        <div class="header">Snow Alert</div>
        <div class="meta">
          <span class="right floated">
            <a href="https://github.com/matt-stj/snow_alert" ><i class="github icon large link"></i></a>
          </span>
          <span>
            <a href="http://snow-a1ert.herokuapp.com" ><i class="world icon large link"></i>Live App</a>
          </span>
        </div>
        <div class="description">
          Snow Alert is an app that lets you track when snowfall is coming to your favorite mountains. Create a profile with FaceBook's OAuth, add your favorite mountains to your profile, and receive daily email alerts with forecasts for your resorts.
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="circular inverted  grey tiny code icon"></i>
          Ruby on Rails + Javascript + Sendgrid
        </span>
      </div>
    </div>
  </div>
  <div class="side">
    <div class="ui card">
      <div class="image">
        <%= image_tag("rails-engine.png") %>
      </div>
      <div class="content">
        <div class="header">Rails Engine</div>
        <div class="meta">
          <span class="right floated">
            <a href="https://github.com/matt-stj/snow_alert" ><i class="github icon large link"></i></a>
          </span>
          <span>
            <a href="https://rails-engine-demo.herokuapp.com/" ><i class="world icon large link"></i>Live App</a>
          </span>
        </div>
        <div class="description">
          Use Rails and ActiveRecord to build a JSON API with endpoints that display business intelligence data from an online merchant database.<br><br>
          25+ RESTful API endpoints and Single-Responsibility controllers.
        </div>
      </div>
      <div class="extra content">
        <span>
          <i class="circular inverted  grey tiny code icon"></i>
          ActiveRecord + JSON API + AJAX
        </span>
      </div>
    </div>
  </div>
</div>
</div>

<a class="ui right labeled icon button center aligned flip-button">
  <i class="right arrow icon"></i>
  Next
</a>
