<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height stackable grid">
      <div class="three wide column">
        <a href="#about" class="white-text"><h4 class="ui inverted">About</h4></a>
      </div>
      <div class="three wide column">
        <a href="#portfolio" class="white-text"><h4 class="ui inverted">Portfolio</h4></a>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted">© Matt Stjernholm</h4>
      </div>
    </div>
  </div>
</div>
