<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="item" href="#about">About</a>
    <a class="item" href="#portfolio">Portfolio</a>
    <a class="item" href="#connect">Connect</a>
    <div class="right fixed-animated item">
      <a href="https://github.com/matt-stj"><i class="large github link icon"></i></a>
      <a href="https://www.linkedin.com/in/mattstjernholm"><i class="large linkedin link icon"></i></a>
      <a href="mailto:matthew.stjernholm@gmail.com"><i class="large mail outline link icon"></i></a>
    </div>
  </div>
</div>
