<div class="ui vertical stripe segment">
  <div class="ui middle aligned stackable grid container">
    <div class="row">
      <div class="twelve wide column">
        <h2 class"ui huge header">About</h2>
        <h3 class"ui header">Tech Geek + Adventurer</h3>
        <p>
          I'm a <strong>Product Manager turned Programmer</strong> and I love finding new ways to solve problems with technology.  Here's my story of becoming a web developer:<br><br>
          I spent the years after graduating from Claremont McKenna College taking on roles that made a tangible impact in the world. It was a journey that involved all sorts of jobs and projects — from teaching English overseas and guiding outdoor education programs
          — to helping Fortune 500 companies build sustainability initiatives. I came to love coding after working on a product team for an early-stage, mission-driven startup, and dedicated myself to spending <strong>2,000 hours of learning from the best teachers and mentors in web development</strong>.
        </p>
      </div>
      <div class="four wide right floated column aligned center">
        <%= image_tag("matt-500x500.png", class: "ui aligned centered circular image push-down") %>
        <p class="ui center aligned small-text">
          When I'm not writing code, you'll find me travelling, adventuring outdoors, or cooking up a mean bowl of Tom Kah Gai.
        </p>
      </div>
    </div>
  </div>
</div>
