<div class="feature secondary-bg ui stripe vertical segment small-stripe">
  <div class="ui three column center aligned relaxed stackable grid container">
    <div class="row">
      <div class="column">
        <h2 class="ui icon header link">
          <%= link_to image_tag("github.png", class: "ui social-logo icon"), "https://github.com/matt-stj"  %>
        </h2>

      </div>
      <div class="column">
        <h2 class="ui icon header link">
          <%= link_to image_tag("linkedin.png", class: "ui social-logo icon"), "https://www.linkedin.com/in/mattstjernholm"  %>
        </h2>

      </div>
      <div class="column">
        <h2 class="ui icon header link">
          <%= link_to image_tag("email.png", class: "ui social-logo icon"), "mailto:matthew.stjernholm@gmail.com" %>
        </h2>

      </div>
    </div>
  </div>

</div>
