<div class="ui inverted vertical masthead center aligned segment">

  <div class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a class="toc item">
        <i class="sidebar icon"></i>
      </a>
      <a class="item" href="#about">About</a>
      <a class="item" href="#portfolio">Portfolio</a>
      <a class="item" href="#connect">Connect</a>
      <div class="right item animated">
        <a href="https://github.com/matt-stj"><i class="large github link icon"></i></a>
        <a href="https://www.linkedin.com/in/mattstjernholm"><i class="large linkedin link icon"></i></a>
        <a href="mailto:matthew.stjernholm@gmail.com"><i class="large mail outline link icon"></i></a>
      </div>
    </div>
  </div>

  <div class="ui text container">
    <h1 class="ui inverted header">
      Matt Stjernholm
    </h1>
    <h2>Ruby + JavaScript Developer </h2>
  </div>

</div>
