<div class="ui vertical stripe segment secondary-bg small-stripe">
  <div class="ui middle aligned stackable grid fluid container">
    <div class="row">
      <div class="four wide left floated gray column">
        <%= image_tag("html.png", class: "ui aligned centered circular image push-down code") %>
      </div>
      <div class="twelve wide left floated column right-align">
        <h2 class"ui right-align header">Portfolio</h2>
        <h3 class"ui header right-align">Ruby on Rails + JavaScript</h3>
        <p>
          The apps below consist of projects that I've completed as coursework or personal side projects during my time at the <span><a href="http://turing.io" target="_blank">Turing School for Software and Design.</a></span>
          You'll find a range of apps that make use of technologies like: Ruby on Rails, Node.js, Ember.js, Electron.js, WebSockets, and much more.<br>
          Feel free to scroll through items in each category and view their live demos or codebases.
        </p>
      </div>
    </div>
  </div>
</div>
