<div class="ui vertical stripe segment">
  <div class="ui container">
    <div class="ui three column stackable grid">
      <div class="column">
        <h2>Ruby on Rails</h4>
          <%= render "partials/panels/projects/rails" %>
      </div>
      <div class="column">
        <h2>Javascript</h4>
          <%= render "partials/panels/projects/javascript" %>
      </div>
      <div class="column">
        <h2>Desktop Apps</h4>
          <%= render "partials/panels/projects/desktop" %>
      </div>
    </div>
  </div>
</div>
